a {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:active {
	color: #C0C0C0;
	text-decoration: none;
}
a:hover {
	color: #E0E0E0;
	text-decoration: none;
}
html{
	overflow: hidden;
    height: 100%;
}
body.modal-open {
    overflow: hidden;
    position: fixed;
}
body{
	margin: 0; height: 100%; overflow: auto;
	overscroll-behavior: none;
	overscroll-behavior-y: none;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header{
	position: relative;
	width: 90%;
	z-index: 1;
	left: 5%;
	top: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
}
.side{
	position: fixed;
	width: 1cm;
	height: 25%;
	z-index: 2;
	right: 2%;
	top: 33%;
	text-align: center;
}
.footer{
	position: relative;
	width: 90%;
	z-index: 1;
	bottom: 3%;
	left: 64px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.icon{
	width: 100%;
}
.main{
	position: relative;
	width: 90%;
	height: 100%;
	left: 5%;
	font-size: medium;
	font-family: Helvetica, Arial, sans-serif;
}
.mainText{
	margin: 2%;
	font-size: medium;
	font-family: Helvetica, Arial, sans-serif;
}


.modal{
	overscroll-behavior: contain;
	display: none;
	position: fixed;
	z-index: 3;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #111;
	background-color: rgba(10,10,10,0.9);

}
.modalContent{
	z-index: 4;
	border-radius: 16px;
	background-color: rgba(15,15,15,1.0);
	position: fixed;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
}
.modalOverlay{
	z-index: 0;
	background-color: #202020;
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	overflow: hidden;
	background-color: rgba(10,10,10,0.0);
}
.infoArrow{
	text-align: center;
}

.regularFrame{
	z-index: 5;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
	overflow: hidden;
	outline: none;
}
.audioFrame{
	z-index: 5;
	position: absolute;
	width: 20%;
	height: 55%;
	left: 40%;
	overflow: hidden;
	outline: none;
}
.videoFrame{
	z-index: 5;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,1.0);
	border-radius: 16px;
	overflow: hidden;
	outline: none;
}
.itmbtn{
	z-index: 0;
	width: 100%;
	height: auto;
}
.itmDiv{
	z-index: 1;
	background-image: "icotwitter.png";
	position: absolute;
	width: 0%;
	height: auto;
	border-radius: 12px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
}
.itmText{
	position: absolute;
	font-size: 16px;
	mix-blend-mode: difference;
	left: 5%;
}
.itmTextBack{
	position: absolute;
	width: 100%;
	height: 20%;
	background-color: blue;
	mix-blend-mode: darken;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
.itmbtn:hover,
.itmbtn:focus{
	cursor: pointer;
}

::-webkit-scrollbar-track{
	z-index: 7;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #111;
}
::-webkit-scrollbar{
	z-index: 7;
	width: 6px;
	background-color: #111;
}
::-webkit-scrollbar-thumb{
	z-index: 7;
	background-color: #333;
}

/* The Close Button */
.close{
	z-index: 6;
	position: absolute;
	color: #eeeeee;
	top: 8%;
	right: 4%;
	font-size: 1cm;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.info{
	z-index: 3;
	position: absolute;
	color: #eeeeee;
	bottom: -2cm;
	left: 48%;
	font-family: Segoe UI Symbol;
	font-size: 2cm;
	text_align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.arrowl{
	z-index: 6;
	position: absolute;
	color: #eeeeee;
	text-align: middle;
	top: 50%;
	left: 2%;
	font-size: 2cm;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.arrowr{
	z-index: 6;
	position: absolute;
	color: #eeeeee;
	top: 50%;
	right: 2%;
	font-size: 2cm;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.close:hover,
.close:focus,
.info:hover,
.info:focus,
.arrowl:hover,
.arrowl:focus,
.arrowr:hover,
.arrowr:focus {
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

.modalInfo{
	z-index: 7;
	border-radius: 32px;
	position: absolute;
	overflow: hidden;
	width: 90%;
	padding-top: 0%;
	padding-bottom: 10%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: rgba(0,0,0,0.2);
	top: 100%;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.modalTitle{
	z-index: 7;
	font-size: large;
	font-family: Helvetica, Arial, sans-serif;
}
.modalText{
	z-index: 7;
	font-size: medium;
	font-family: Helvetica, Arial, sans-serif;
}
